<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vota ou não vota</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

<body>
    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s6 offset-s3">
                    <h4 class="center <%=cor%>-text text-darken-5">Vota ou não vota</h4>
                    <h5 class="center <%=cor%>-text text-lighten-4"><%=vota%></h5>
                    <div class="row">
                        <div class="col s12 center">
                            <img class="responsive-img circle" src="<%=img%>">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>